aws_region                 = "eu-west-1"
environment                = "dev"
project_name               = "parking-pipeline"
sender_email               = "you@example.com"
recipient_email            = "you@example.com"
failure_notification_email = "you@example.com"
api_login                  = "REPLACE_ME"
api_password               = "REPLACE_ME"
api_url                    = "https://api-url.com"
max_receive_count          = 4
